.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 85%;
    width: auto;
    aspect-ratio: 778 / 904;
    padding: 50px;
    transform-origin: top;

    h2 {
      text-align: center;
      margin-top: -150px;
      font-size: 170px;
      font-family: Salina-TrialLight, sans-serif;
      color: white;
      position: absolute;
      width: 100%;
      z-index: -40;
      transition: opacity 7s ease-out, transform 7s ease-out;
    }

    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        
        .inner {
          width: 100%;
          height: 100%;
        }

        img {
          object-fit: contain;
          z-index: -50;
        }
      }
    }
  }
}
