@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 20s linear infinite;
}


