@font-face {
  font-family: 'Salina-Book';
  src: url('/fonts/salina/Salina-Trial-Book-BF64b607e29dd58.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Salina-MediumItalic';
  src: url('/fonts/salina/Salina-Trial-MediumItalic-BF64b607e30a326.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Salina-TrialLight';
  src: url('/fonts/salina/Salina-Trial-Light-BF64b607e2a98d5.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  font-family: 'Salina-Book', sans-serif;
  font-weight: 300;
}
