.cardContainer {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 20px;
  overflow: hidden;

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    z-index: 1;

    .body {
      display: flex;
      height: 100%;
      margin-top: 0px;
      gap: 5px;

      .description {
        position: absolute;
        top: 20%; /* Yazıyı görselin üst kısmına yerleştiriyoruz */
        left: 50%;
        transform: translateX(-50%); /* Yazıyı yatayda ortalıyoruz */
        font-size: 200px; /* Başlık boyutunu büyütüyoruz */
        color: white;
        text-align: center;
        z-index: 2; /* Yazının z-index'ini üstte yapıyoruz */
        transition: opacity 0.3s ease-in-out; /* Opacity geçişi */
      }

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        .inner {
          width: 100%;
          height: 100%;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
